
<table class="table" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Posted by</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "ranking", collection: @posts %>
  </tbody>
</table>
