<%= form_with(model: [@post_home,@comment], remote: true) do |form| %>

  <div class="form-group">
    <%= form.text_area :message, rows:"3", class: "form-control"%>
  </div>

  <%= form.submit class:"btn btn-primary" %>

  <br>
<% end %>