header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  .page-heading, .post-heading, .site-heading {
    padding: 200px 0 150px;
    color: white;
  }
  .page-heading, .site-heading {
    text-align: center;
  }
  .page-heading h1, .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  .page-heading .subheading, .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      line-height: 1.1;
      display: block;
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      font-family: 'Lora', 'Times New Roman', serif;
      a {
        color: #fff;
      }
    }
  }
}